# SolidWorks Temporary and Backup Files
~$*
*~
*.bak
*.err
*.swb
*.tmp

# Optional: Ignore step files if you only want native CAD in the repo
# *.step
# *.stps"**/.history/
Electrical/PCB/Final PCB Design v2/.history/
Electrical/PCB/Final PCB Design/.history/
Electrical/Warmup Project/Electrical Diagrams/Circuit diagrams kicad/.history/
Electrical/Warmup Project/Electrical Diagrams/Circuit diagrams kicad/Capstone-backups/Capstone-2026-02-20_190113/.history/
Electrical/Warmup Project/Electrical Diagrams/Circuit diagrams kicad/Untitled/.history/
Electrical/Warmup Project/Electrical Diagrams/Circuit diagrams kicad/Updated Circuit Diagram/.history/
